# Using Python Libraries

## First Up: Numeric Python

![numpy](https://raw.githubusercontent.com/donnemartin/data-science-ipython-notebooks/master/images/numpy.png)

[NumPy](https://www.numpy.org/) is the fundamental package for scientific computing with Python. Many other data science packages, especially those that work with matrices, rely on it for its speed and utility.

For numpy, the standard alias is `np`.

In [1]:
# Import numpy
import numpy as np

### NumPy Arrays

Python lists and NumPy arrays can both hold numbers. However, Python lists have limited functionality for mathematical operations. NumPy arrays make it easy and fast to do math with a collection of numbers.

In [2]:
# Explore a numpy array
x = np.array([1, 2, 3])
print(x)
print(type(x))

[1 2 3]
<class 'numpy.ndarray'>

Let's make a list using base Python, and an array using Numpy, and see how they function differently:

In [3]:
# Create a list in base Python of 3 integers
numbers_list = [2, 4, 6]
# Create a numpy array containing the same 3 integers
numbers_array = np.array([2, 4, 6])

### Arithmetic Operations

Arithmetic operators (e.g. +, -, * and /) work according to mathematical principles for arrays, unlike with lists. These operations are done "element-wise".

In [4]:
# Multiply the array by 3
numbers_array * 3

array([ 6, 12, 18])

In [5]:
# Multiply the list by 3
numbers_list * 3

[2, 4, 6, 2, 4, 6, 2, 4, 6]

In [6]:
# Add 20 to the array
numbers_array + 20

array([22, 24, 26])

In [7]:
# Add 20 to the list
numbers_list + 20

TypeError: can only concatenate list (not "int") to list

### Speed

Below, you will find a piece of code we will use to compare the speed of operations on lists vs arrays.

In [8]:
# Setting the size of our iterables
size_of_vec = 1000

# Creating two lists of that size
X = list(range(size_of_vec))
Y = list(range(size_of_vec))

In [9]:
# Timing how long it takes to add each element in the two lists
# Complicated bit of code using a list comprehension
%timeit [X[i] + Y[i] for i in range(size_of_vec)]

84.1 µs ± 475 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [10]:
# Now let's try with numpy arrays
X = np.array(range(size_of_vec))
Y = np.array(range(size_of_vec))

In [11]:
# Much simpler code, since it's easier to do element-wise math
%timeit X + Y

716 ns ± 11.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## Next Up: Importing, Reading and Manipulating Data with ACTUAL LITERAL PANDAS

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - but Pandas is a great library to work with relational data. 

[Check out the documentation!](https://pandas.pydata.org/pandas-docs/stable/) (always a great idea)

Note that we didn't go into a lot of Numpy's functionality, but here's something cool - Pandas is built on top of Numpy! That means they work really well together, and that Pandas has some math functionality already built in.

If you'd like to read more about Numpy and Pandas, [here is an interesting blog post](https://cloudxlab.com/blog/numpy-pandas-introduction/) discussing them.

Let's dive into some data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Today we'll be working with the intakes data, which I've already downloaded and included in the repository.

In [12]:
# Import
import pandas as pd

Before reading in the data, we need to know what format the data is in and where exactly the data can be found, so we can tell Pandas what to do.

In [14]:
# Where is our data?
!ls data/

Austin_Animal_Center_Intakes_030921.csv
Austin_Animal_Center_Outcomes_030921.csv

In [17]:
# Read in the comma-separated-value (csv) document as df
df = pd.read_csv('data/Austin_Animal_Center_Intakes_030921.csv', 
                parse_dates = ['DateTime'])

What options do we have when we read in a csv? Let's look at the documentation!

[Convenient link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

I happen to know that there is a column in the data named 'DateTime' (run the below code to check it out before adjusting our read-in code!) - let's use an argument to read it in as a datetime object, then discuss.

In [18]:
df['DateTime']

0        2019-01-03 16:19:00
1        2015-07-05 12:59:00
2        2016-04-14 18:43:00
3        2013-10-21 07:59:00
4        2014-06-29 10:38:00
                 ...
124217   2021-03-09 12:07:00
124218   2021-03-09 12:40:00
124219   2021-03-05 14:31:00
124220   2021-03-09 12:04:00
124221   2021-03-05 14:31:00
Name: DateTime, Length: 124222, dtype: datetime64[ns]

### Initial Exploration of a Dataframe

Questions to ask yourself:

- How big is the data?
- Are there any empty cells? 
- What are the datatypes of the columns of data?

In [19]:
# What does this dataframe look like?
# Check out the first 5 rows
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [20]:
# Check out the shape of the df
df.shape

(124222, 12)

In [21]:
# And then the size
df.size

1490664

In [22]:
# And then look at some info on the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124222 entries, 0 to 124221
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124222 non-null  object
 1   Name              85158 non-null   object
 2   DateTime          124222 non-null  datetime64[ns]
 3   MonthYear         124222 non-null  object
 4   Found Location    124222 non-null  object
 5   Intake Type       124222 non-null  object
 6   Intake Condition  124222 non-null  object
 7   Animal Type       124222 non-null  object
 8   Sex upon Intake   124221 non-null  object
 9   Age upon Intake   124222 non-null  object
 10  Breed             124222 non-null  object
 11  Color             124222 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.4+ MB

In [23]:
# Describe the columns
df.describe()

<ipython-input-23-daaa70c92779>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,124222,85158,124222,124222,124222,124222,124222,124222,124221,124222,124222,124222
unique,111013,19758,87743,87743,53737,6,10,5,5,52,2632,595
top,A721033,Max,2016-09-23 12:00:00,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,564,64,64,22889,86507,108026,70505,40349,21809,30985,13039
first,NaN,NaN,2013-10-01 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2021-03-09 12:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**A note on `.describe()`:** this function behaves differently whether we feed in objects or numeric types. We'll explore this more later.

**And a question:** You see that some of the ways we dealt with our dataframe required `()` and some did not - why is that?

- Methods vs. Attributes

### Accessing Columns

Use brackets and the exact column name to access a particular column.

In [24]:
df['Name']

0          *Brock
1           Belle
2         Runster
3             NaN
4             Rio
           ...
124217        NaN
124218        NaN
124219    *Hansel
124220      Chema
124221    *Gretel
Name: Name, Length: 124222, dtype: object

Can also use `.` notation, if the column name doesn't have spaces.

In [25]:
df.Name

0          *Brock
1           Belle
2         Runster
3             NaN
4             Rio
           ...
124217        NaN
124218        NaN
124219    *Hansel
124220      Chema
124221    *Gretel
Name: Name, Length: 124222, dtype: object

### Dealing with Datetime Objects

You can access parts of a datetime object using `.dt` - an attribute of the column, not a method!

In [26]:
# Let's check out the intake year
df['DateTime'].dt.year

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
124217    2021
124218    2021
124219    2021
124220    2021
124221    2021
Name: DateTime, Length: 124222, dtype: int64

In [27]:
# How do we create a new column?
# Let's create a new column for intake year
df['IntakeYear'] = df['DateTime'].dt.year

In [28]:
# Check our work
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,IntakeYear
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

In [29]:
# What datatype is the data in our new column?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124222 entries, 0 to 124221
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124222 non-null  object
 1   Name              85158 non-null   object
 2   DateTime          124222 non-null  datetime64[ns]
 3   MonthYear         124222 non-null  object
 4   Found Location    124222 non-null  object
 5   Intake Type       124222 non-null  object
 6   Intake Condition  124222 non-null  object
 7   Animal Type       124222 non-null  object
 8   Sex upon Intake   124221 non-null  object
 9   Age upon Intake   124222 non-null  object
 10  Breed             124222 non-null  object
 11  Color             124222 non-null  object
 12  IntakeYear        124222 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 12.3+ MB

### Checking for Null Values

Can use `.isna` or `.isnull` - same thing!

In [30]:
# Check it - is the result what you expect?
df.isna()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,IntakeYear
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124217,False,True,False,False,False,False,False,False,False,False,False,False,False
124218,False,True,False,False,False,False,False,False,False,False,False,False,False
124219,False,False,False,False,False,False,False,False,False,False,False,False,False
124220,False,False,False,False,False,False,False,False,False,False,False,False,False
124221,False,False,False,False,False,False,False,False,False,False,False,False,False

In [31]:
# How can you make that result more usable?
df.isna().sum()

Animal ID               0
Name                39064
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
IntakeYear              0
dtype: int64

### Checking for Duplicate Rows

In [32]:
# Function is called duplicated - check the documentation!
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
124217    False
124218    False
124219    False
124220    False
124221    False
Length: 124222, dtype: bool

In [33]:
# Can use same trick as above on duplicated to make the result more usable
df.duplicated().sum()

19

### Dropping Columns or Rows

Several different methods depending on what we're doing - but the to discuss right now is `.drop`

In [36]:
# Let's drop the MonthYear column, which is the same as our DateTime
df = df.drop(columns=['MonthYear'])

In [37]:
# Check our work here...
df.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,IntakeYear
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

Why won't my changes save ???

Fun thing about pandas - time to discuss resetting variables, or using `inplace`

### Renaming Columns

[Documentation for `.rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [38]:
# Let's remove spaces from the columns, and make all column names lowercase to be easier
# Can use a dictionary to rename
col_names = df.columns

new_col_names = []
for c in col_names:
    c.lower()

Index(['Animal ID', 'Name', 'DateTime', 'Found Location', 'Intake Type',
       'Intake Condition', 'Animal Type', 'Sex upon Intake', 'Age upon Intake',
       'Breed', 'Color', 'IntakeYear'],
      dtype='object')

In [ ]:
# Check your work

In [ ]:
# Can also use a lambda function

### Slicing and Dicing

Perhaps your biggest tool for exploring around your dataframes will be `.loc` (and it's accompanying `.iloc`). This allows you to use conditionals to explore your data!

In [ ]:
# Example: look only at animals with intake type 'Stray'

In [ ]:
# Second example: animals where the animal type is not dog

In [ ]:
# And a third - animals found before 2018

## Let's Start to Answer Questions!

#### Question 1: What is the most common Animal Type?

In [ ]:
# Let's explore the Animal Type column to find out

In [ ]:
# Another way - look above at describe, or run another describe
# 'Top' for an object column means 'most common'

#### Question 2: What is the most common dog breed to come into the shelter?

In [ ]:
# Let's create a new df, dogs, for all dogs in the original data

In [ ]:
# Now it's easier to look at common dog breeds

#### Question 3: What percentage of animals have come into the shelter in a condition other than "Normal"?

In [ ]:
# Need to explore the proper column

In [ ]:
# Want to use pandas to calculate, not inputting number manually

In [ ]:
# Calculate percentage

In [ ]:
# Other way to calculate

## Now - Outtake Data!

Let's explore together if we have time! If not - extra credit!